/*
  Scrollbar
*/

*::-webkit-scrollbar {
  width: 0.6rem;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background-color: #1a1a1a;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #5fd35f;    /* color of the scroll thumb */
}

/*
  Font Family
*/

@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: local("BarlowCondensed"),
     url(~assets/BarlowCondensed/BarlowCondensed-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "BarlowCondensed";
  font-style: normal;
  font-weight: 400;
  src: local("BarlowCondensed"),
  url(~assets/BarlowCondensed/BarlowCondensed-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "BarlowCondensed";
    font-style: italic;
    font-weight: 400;
    src: local("BarlowCondensed"),
     url(~assets/BarlowCondensed/BarlowCondensed-Italic.ttf) format("truetype");
}

.v-application {
   font-family: "BarlowCondensed", "Helvetica", monospace !important;
}

/*
 Font Styles
*/

.font-s {
  font-size: 0.7rem !important;
  line-height: 0.7rem !important;
}

.font-ms {
  font-size: 0.8rem !important;
  line-height: 0.8rem !important;
}

.font-m {
 font-size: 1rem !important;
 line-height: 1rem !important;
}

.font-ml {
 font-size: 1.2rem !important;
 line-height: 1.2rem !important;
}

.font-l {
 font-size: 1.4rem !important;
 line-height: 1.4rem !important;
}

.font-italic {
 font-style: italic !important;
}
.font-bold {
 font-weight: 600 !important;
}

/*
  Border
*/

.border-lowtone-1 {
  border: var(--v-lowtone-base) 2px solid;
}
.border-midlight-2 {
  border: var(--v-midlight-base) 2px solid;
}

/*
 Round
*/

.round-small {
 border-radius: 0.1rem !important;
}

.round-none {
 border-radius: 0rem !important;
}
